@model RequirementViewModel

@{
    ViewData["Title"] = "Create Requirement";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Name').change(function () {
                if ($(this).val()) {
                    $('#description-group').show();
                } else {
                    $('#description-group').hide();
                }
            });

            $('#Description').change(function () {
                if ($(this).val()) {
                    $('#sortTraining-group').show();
                } else {
                    $('#sortTraining-group').hide();
                }
            });

            $('#SortTraining').change(function () {
                if ($(this).val()) {
                    $('#amount-group').show();
                } else {
                    $('#amount-group').hide();
                }
            });

            $('#Amount').change(function () {
                if ($(this).val()) {
                    $('#timeInSeconds-group').show();
                } else {
                    $('#timeInSeconds-group').hide();
                }
            });
        });
    </script>
}

<div class="container">
    <h1>Create Requirement</h1>
    <hr />
    <form asp-action="CreateRequirement">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group" id="description-group" style="display:none;">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group" id="sortTraining-group" style="display:none;">
            <label asp-for="SortTraining" class="control-label"></label>
            <input asp-for="SortTraining" class="form-control" />
            <span asp-validation-for="SortTraining" class="text-danger"></span>
        </div>
        <div class="form-group" id="amount-group" style="display:none;">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group" id="timeInSeconds-group" style="display:none;">
            <label asp-for="TimeInSeconds" class="control-label"></label>
            <input asp-for="TimeInSeconds" class="form-control" />
            <span asp-validation-for="TimeInSeconds" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
