/* Header background color */
header nav.navbar {
    background-color: #002060 !important; /* Example color */
}

    /* Navbar text color */
    header nav.navbar .nav-link {
        color: #ffffff !important; /* Example color */
    }

        /* Change color on hover */
        header nav.navbar .nav-link:hover {
            color: #cce6ff !important; /* Example hover color */
        }

/* Footer background color */
footer.footer {
    background-color: #002060 !important; /* Example color */
}

    /* Footer text color */
    footer.footer .text-muted {
        color: #ffffff !important; /* Example color */
    }

.page-title {
    color: white; /* Set the text color to white */
    font-size: 1.5rem; /* Example font size */
    font-weight: bold; /* Example font weight */
}

/* Reduce the height of the navbar */
.navbar {
    height: 50px; /* Adjust this value as needed */
}

/* Adjust padding for navbar items to center them better vertically */
.nav-link {
    padding-top: 5px; /* Adjust as needed */
    padding-bottom: 5px; /* Adjust as needed */
}

/* Reduce the font size of the navbar brand and links */
.navbar-brand, .nav-link {
    font-size: 0.9em; /* Adjust this value as needed */
}
