/* Header background color */
header nav.navbar {
    background-color: #002060 !important; /* Example color */
}

    /* Navbar text color */
    header nav.navbar .nav-link {
        color: #ffffff !important; /* Example color */
    }

        /* Change color on hover */
        header nav.navbar .nav-link:hover {
            color: #cce6ff !important; /* Example hover color */
        }

/* Footer background color */
footer.footer {
    background-color: #002060 !important; /* Example color */
}

    /* Footer text color */
    footer.footer .text-muted {
        color: #ffffff !important; /* Example color */
    }

.page-title {
    color: white; /* Set the text color to white */
    font-size: 1.5rem; /* Example font size */
    font-weight: bold; /* Example font weight */
}
